.app-layout {
  display: flex;
  min-height: 100vh;

  background: linear-gradient(
    135deg,
    #f4f6f8,
    #e9ecef
  );
}

/* CONTENIDO */

.content {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding: 40px;
}