<section class="schedule-card">
  <div class="schedule-header">
    <h2>Agendar cita</h2>
    <p>Selecciona especialista, fecha y revisa los horarios disponibles.</p>
  </div>

  <form (ngSubmit)="buscar()" class="schedule-form">
    <div class="form-grid">

      <div class="form-group">
        <label>Especialidad</label>

        <div class="select-wrapper">
            <span class="select-icon"> 🩺 </span>

            <select
                class="form-select"
                [(ngModel)]="filtro.especialidad"
                name="especialidad">

                <option value="" disabled selected>
                    Selecciona especialista
                </option>

                <option>Odontología general</option>
                <option>Ortodoncia</option>
                <option>Endodoncia</option>
                <option>Periodoncia</option>
                <option>Odontopediatría</option>
                <option>Cirugía oral</option>
                <option>Estética dental</option>

            </select>
        </div>
      </div>

      <div class="form-group">
        <label>Fecha</label>
        <input type="date" class="form-control" [(ngModel)]="filtro.fecha" name="fecha">
      </div>

      <div class="form-group full">
        <label>Observaciones</label>
        <textarea
          class="form-control textarea"
          rows="3"
          [(ngModel)]="filtro.observaciones"
          name="observaciones"
          placeholder="Describe brevemente el motivo de la consulta">
        </textarea>
      </div>
    </div>

    <button type="submit" class="btn-schedule">
      Buscar disponibilidad
    </button>

    @if (mensaje) {
        <div class="alert-success">
            {{ mensaje }}
        </div>
    }
    @if (error) {
        <div class="alert-error">
            {{ error }}
        </div>
    }

    
  </form>

  <div class="results-card" *ngIf="resultados.length > 0">
    <div class="results-header">
      <h3>Horarios disponibles</h3>
      <p>Elige el horario que mejor se ajuste a tu agenda.</p>
    </div>

    <div class="results-list">
      <div class="result-item" *ngFor="let item of resultados">
        <div class="result-icon">🩺</div>

        <div class="result-info">
          <h4>{{ item.medico }}</h4>
          <p>{{ item.sede }}</p>
        </div>

        <div class="result-time">
          {{ item.hora }}
        </div>

        <button type="button" class="btn-select" (click)="seleccionarCita(item)">
             Seleccionar
        </button>
      </div>
    </div>

    
  </div>
</section>